.cards {
    margin: 30px 0;
    display: none;

    .card {
        margin: 10px 10px;
        text-align: center;
        border: none;
        transition: all .4s ease-in-out;
        &:hover {
            transform: scale(1.04);
        }

        a {
            height: 100%;
            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        .card-body {
            width: 100%;
            height: 100%;

            
            h5 {
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
        }
    }

    .card-a {
        background-color: #809FC5;
    }

    .card-b {
        background-color: #65B3B0;
    }

    .card-c {
        background-color: #C59B06;
    }

    .card-d {
        background-color: #B368B3;
    }
}

@include media-breakpoint-up(sm) {
    .cards {
        margin: 30px 0;
        display: block;

        .card-twins {
            margin: 0 auto;
        }
    
        .card {
            .card-body {
                width: 205px;
            }
        }
    }    
}


@include media-breakpoint-up(md) {
    .cards {
        margin: 30px 0;
    }    
}

@include media-breakpoint-up(lg) {
    .cards {
        margin: 30px 0;

        .card-twins {
            margin: 0;
        }
    }    
}