{{#> base }}

{{> header about=this }}

{{/ base }}

{{> hero }}

{{> cards }}

{{> passage }}

{{> paragraph_1 first=true }}

{{> paragraph_2 second=true }}

{{> paragraph_1 third=true }}

{{> paragraph_2 fourth=true }}

{{> contact extendet=false }}

{{> footer }}

</body>
</html>