<div class='footer-content'>
    <div>
        <p><strong>Registereintrag: </strong><br>
            Eintragung im Handelsregister.<br>
            Registergericht: Amtsgericht Hamm<br>
            Registernummer: HRB 9778<br></p>
    </div>
    <div>
        <p><strong>Büroanschrift: </strong><br>
            Gutenbergstraße 9<br>
            59174 Kamen
    </div>
</div>