<div class='footer-content'>
    <h4>Impressum</h4>
    <p>Angaben gemäß § 5 TMG</p>
    <p>AUFF Unna gGmbH<br> Ambulante Unterstützung für Familien <br>
        Meereweg 42<br>
        59199 Bönen <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Martina  Burgard-Wiggermann<br>
    </p>
</div>