<h1 class="title" id="h1-target">
    <span class="hero-title-span1"> Weil Kinder die Zukunft <br></span>
    <span class="hero-title-span2"> von morgen sind </span>
</h1>
<h2 class="sub-title"><span> Ambulante Unterstützung für Familien </span></h2>