<h2 class="paragraph-heading">Hilfe zur Erziehung, Flexible Hilfen<div class="line"></div></h2>
<p class="paragraph-text">Die flexiblen Hilfe umfassen unterschiedliche erzieherische Unterstützungsangebote, die auf die jeweiligen Bedürfnisse der  Familien passgenau zugeschnitten werden
    <br><br>
    <strong>Zielgruppe:</strong><br>
        Familien oder familienähnliche Lebensgemeinschaften und deren Kinder<br>
        Pflegefamilien und deren Pflegekinder<br>
        Alleinerziehende und deren Kinder<br>
        Junge Mütter oder Väter und deren Kinder<br>
        Familien und Alleinerziehende mit beeinträchtigten Kindern<br>
        Junge Heranwachsende/ volljährige Jugendliche<br>
        Kinder oder Jugendliche von psychisch belasteten Eltern<br>

</p>
<p><strong>Unterstützungsbereiche:</strong></p>
<p>
<ul>
    <li>Hilfe zur Erziehung</li>
    <li>Unterstützung bei der selbstständigen Entfaltung der Persönlichkeit des jungen Heranwachsenden</li>
    <li>Unterstützung bei der Bewältigung, Entwicklung und Organisation von Alltagsstrukturen</li>
    <li>Unterstützung bei unterschiedlichen für das Kind oder den Jugendlichen belastenden Problemlagen</li>
    <li>Sicherung des Kindes- und Jugendwohls</li>
    <li>Hilfe in neuen oder veränderten Lebenssituationen</li>
    <li>Entwicklung von Lösungsstrategien in Krisensituationen</li>
</ul>
</p>