<h2 class="paragraph-heading">Schulbegleitung <div class="line"></div></h2>
<p class="paragraph-text">Schulbegleitung in Regel- und Förderschulen für Kinder mit Beeinträchtigungen können ganz verschiedene Aufgaben beinhalten. Beantragt wird die Schulbegleitung beim zuständigen Jugendamt oder Sozialamt.
Ziel der Begleitung ist die Sicherstellung des Schulbesuchs und die Teilhabe des Schülers/ der Schülerin am Schulalltag.<br><br>
<strong>Zielgruppe:</strong> Schüler und Schülerinnen aller Altersgruppen mit Unterstützungsbedarf
</p>
<p><strong>Unterstützungsbereiche:</strong></p>
<p>
<ul>
    <li>Unterstützung bei alltäglichen Anforderungen, z.B. auf dem Schulweg</li>
    <li>Motivierende Unterstützung während des Unterrichts, bei der Umsetzung der schulischen Anforderungen in Absprache mit der Lehrkraft</li>
    <li>Unterstützung bei der Strukturierung und Organisation der Arbeitsmaterialien</li>
    <li>Beaufsichtigung und Hilfestellung außerhalb des Unterrichts und in den Pausen</li>
    <li>Ermöglichung und Unterstützung von sozialen Kontakten mit Mitschülern</li>
    <li>Mitwirkung an der Erstellung eines Förderplans für den/ die betroffene/n Schüler/ Schülerin und Beteiligung an Hilfeplangesprächen</li>
    <li>Unterstützung zur Selbstständigkeit</li>
    <li>Maßnahmen zur Vermeidung von aggressivem Verhalten gegen Personen oder Gegenstände.</li>
</ul>
</p>