<h2 class="paragraph-heading">Schulbegleitung <div class="line"></div></h2>
<p class="paragraph-text">Schulbegleitung in Regel- und Förderschulen für Kinder mit Beeinträchtigungen können ganz verschiedene Aufgaben beinhalten. Beantragt wird die Schulbegleitung beim zuständigen Jugendamt oder Sozialamt.
Ziel der Begleitung ist die Sicherstellung des Schulbesuchs und die Teilhabe des Schülers/ der Schülerin am Schulalltag.<br><br>
<strong>Zielgruppe:</strong> Schüler und Schülerinnen aller Altersgruppen mit Unterstützungsbedarf
</p>
<p><strong>Unterstützungsbereiche:</strong></p>
<p>
<ul>
    <li>Unterstützung bei alltäglichen schulischen Anforderungen</li>
    <li>Ermöglichung und Unterstützung von sozialen Kontakten</li>
    <li>Mitwirkung an der Erstellung eines Förderplans für den/ die betroffene/n Schüler/ Schülerin</li>
</ul>
</p>