<h2 class="paragraph-heading">Familienunterstützende Hilfen<div class="line"></div></h2>
<p class="paragraph-text">Der Alltag mit einem beeinträchtigten Kind ist nicht immer einfach. 
Familienunterstützende Hilfen bieten alltagsorientierte Unterstützungen an, um Eltern bei der Betreuung und Pflege ihres Kindes zu entlasten. 
<br><br>
<strong>Zielgruppe:</strong> Familien und Alleinerziehende mit körperlich-, geistig-, seelisch-, mehrfach- oder schwerbehinderten Kindern und Jugendlichen
</p>
<p><strong>Unterstützungsbereiche:</strong></p>
<p>
<ul>
    <li>Stundenweise Betreuung und Pflege in der häuslichen Umgebung</li>
    <li>Hilfe zur Teilhabe am Leben in der Gemeinschaft</li>
    <li>Mitbetreuung von Geschwistern</li>
    <li>Persönliche Begleitung</li>
</ul>
</p>