<h2 class="paragraph-heading">Pflegeberatung<div class="line"></div></h2>
<p class="paragraph-text">Die Pflegeberatung oder auch häusliche Schulung für pflegende Angehörige nach
§45 SGB XI bietet eine umfangreiche Beratung zur Versorgung und Pflege eines 
Kindes mit Beeinträchtigung. Eltern, die ein beeinträchtigtes Kind pflegen, 
haben in der Regel keine fachlichen Kenntnisse und stehen vor der Herausforderung, 
sich dieses Wissen selbst anzueignen. Ziel der Beratung bzw. Schulung ist es,
die Eltern in der Pflege des Kindes soweit zu stärken und zu beraten, dass 
eine Überforderung und eine Belastung gemindert werden sowie eine 
stationäre Unterbringung des Kindes verhindert wird.
</p>
<p><strong>Unterstützungsbereiche:</strong></p>
<p>
<ul>
    <li>Maßnahmen zur Alltagsbewältigung</li>
    <li>Informationen zu den Leistungen der Pflegekasse</li>
    <li>Überleitungspflege nach Krankenhausaufenthalt</li>
    <li>Beratung von Familien mit Kindern, deren Lebenszeit verkürzt ist</li>
    <li>Informationen zur Hilfsmittelversorgung</li>
    <li>Anleitung zur Pflege / zu Pflegetechniken</li>
    <li>Informationen zu Leistungen zur Entlastung der Pflegeperson</li>
</ul>
</p>