<p>
Wir bietet Hilfen für moderne Familiensysteme. Mit unserem Netzwerk aus aufsuchenden Hilfen sind wir in der Lage Sie individuell und flexibel zu unterstützen.
<br>
<br>
Unser Angebot richtet sich an Familien, die eine sehr belastete Familiensituation und damit einen schwierigen, verbundenen Alltag erleben. Jede Familie ist anders, daher passen wir unser Hilfsangebot gerne an ihre Familiensituation an.
<br>
<br>
Die unten stehenden Leistungsangebote können miteinander kombiniert werden, um so eine ganzheitliche Unterstützung zu gewährleisten. Melden Sie sich gerne direkt bei uns.
<br>
<br>
<a href="#kontakt" class="scrollto">Melden Sie sich gerne direkt bei uns.</a>
</p>