<h3>Willkommen<div class="line"></div></h3>
<p>
Wir bieten Beratung und Hilfe im Alltag für Familie mit besonderen Kindern.
Im folgenden Abschnitt möchten wir Ihnen unsere Angebote vorstellen. Da jede Familiensituation anders ist, passen wir unsere Angebote Ihren Bedürfnisse an.
<a href="#kontakt" class="scrollto">Bei Fragen können Sie sich gerne direkt bei uns melden.</a>
</p>

