@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Common
@import "common/global";
@import "common/mixins";
@import "common/fonts";

// Layouts
@import "layouts/header";
@import "layouts/basic";
@import "layouts/stripe";
@import "layouts/cards";
@import "layouts/passage";
@import "layouts/paragraph";
@import "layouts/hero";
@import "layouts/sidebar";
@import "layouts/contact";
@import "layouts/footer";

// Pages
@import "pages/home";

// Components
@import "components/welcome";

// Bootstrap

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";