<div class="cards">
    <div class="container">
        <div class="cards-wrapper d-sm-flex flex-sm-column flex-lg-row justify-content-center">
            <div class="card-twins d-sm-flex flex-row">
                <div class="card card-a">
                    <a href="#schulbegleitung" class="scrollto">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <h5 class="card-title">{{> ../content/nav_item_1 }}</h5>
                    </div>
                    </a>
                </div>
                <div class="card card-b">
                    <a href="#familienunterstützende_hilfen" class="scrollto">
                    <div class="card-body d-sm-flex justify-content-center align-items-center">
                        <h5 class="card-title">{{> ../content/nav_item_2 }}</h5>
                    </div>
                    </a>
                </div>
            </div>
            <div class="card-twins d-sm-flex flex-row">
                <div class="card card-c">
                    <a href="#pflegeberatung" class="scrollto">
                    <div class="card-body d-sm-flex justify-content-center align-items-center">
                        <h5 class="card-title">{{> ../content/nav_item_3 }}</h5>
                    </div>
                    </a>
                </div>
                <div class="card card-d">
                    <a href="#hilfen_zur_erziehung" class="scrollto">
                    <div class="card-body d-sm-flex justify-content-center align-items-center">
                        <h5 class="card-title">{{> ../content/nav_item_4 }}</h5>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>