<div id="contact" class="class="target""></div>
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="contact-boxes d-flex flex-column flex-sm-row justify-content-center align-items-center">
                <div class="contact-box box-1 d-flex flex-column align-items-center justify-content-start">
                    <div class="contact-box-image">
                        <img src="/assets/images/person_a.jpg" alt="">
                    </div>
                    <div class="contact-box-text">
                      {{> ../content/1_contact_content }}
                    </div>
                </div>
                <div class="contact-box box-2 d-flex flex-column align-items-center justify-content-start">
                    <div class="contact-box-image">
                        <img src="/assets/images/person_b.jpg" alt="">
                    </div>
                    <div class="contact-box-text">
                      {{> ../content/2_contact_content }}
                    </div>
                </div>
                <div class="contact-box box-3 d-flex flex-column align-items-center justify-content-start">
                    <div class="contact-box-image">
                        <img src="/assets/images/person_c.jpg" alt="">
                    </div>
                    <div class="contact-box-text">
                      {{> ../content/3_contact_content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>