<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col1 col-sm-4">Anbieter: Max Mustermann Musterstraße 180999 München</div>
            <div class="col2 col-sm-4">Kontakt: Telefon: 089/1234567-8 Telefax: 089/1234567-9E-Mail: mail@mustermann.de Website: www.mustermann.de</div>
            <div class="col3 col-sm-4">Bei redaktionellen Inhalten: Verantwortlich nach § 55 Abs.2 RStV Moritz Schreiberling Musterstraße 280999 München</div>
        </div>
    </div>
</div>