<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col1 col-sm-4">{{> ../content/footer_col1_content }}</div>
            <div class="col2 col-sm-4">{{> ../content/footer_col2_content }}</div>
            <div class="col3 col-sm-4">{{> ../content/footer_col3_content }}</div>
        </div>
    </div>
</div>