<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href=".">
        <img src="./assets/images/auff_unna_logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 hide-desktop">
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#schulbegleitung">{{> ../content/nav_item_1 }}<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#familienunterstützende_hilfen">{{> ../content/nav_item_2 }}<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#pflegeberatung">{{> ../content/nav_item_3 }}<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#hilfen_zur_erziehung">{{> ../content/nav_item_4 }}<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link scrollto" href="#kontakt">{{> ../content/nav_item_5 }}<span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <div class="desktop-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary btn-custom scrollto " href="#kontakt">Kontakt {{current}} <span class="sr-only">(current)</span></a>
            </li>
            {{!-- <li class="nav-item{{#if about}} active{{/if}}">
              <a class="nav-link" href="/about">About</a>
            </li> --}}
          </ul>
        </div>
    </nav>
  </div>
</div>