<div class="hero">
    <div class="container">
        <div class="row">
            <div class="hero-contact">
            {{> ../content/hero_contact }}
            </div>
            <div class="hero-main">
            {{> ../content/hero_content }}
            </div>
        </div>
    </div>
</div>