<div class="stripe">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="stripe-text">Here some important message</div>
        </div>
    </div>
</div>